/* UI COLORS COLOR CODE: #53a1ea */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --small-text: 2.5rem;
  --medium-text: 4rem;
  --large-text: 7rem;
  --light-faded: #c3e3fa;
  --light: #f0f8fe;
}

body {
  font-family: "Nunito", "Times New Roman", Times, serif;
  background-image: linear-gradient(to right, #2a6acb, #264b82);
  color: var(--light);
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.dark-bg {
  background-color: #1b2e50;
}

/* header section */
header {
  justify-content: space-between;
  font-size: var(--small-text);
  align-items: center;
  align-content: center;
}

#brand {
  align-items: center;
  gap: 1rem;
  color: var(--light);
}

#search {
  height: 3rem;
  display: flex;
  padding: 2rem;
  width: 35rem;
  border-radius: 3rem;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  gap: 0.5rem;
}

#location,
#magnifying,
#unit {
  color: var(--light);
}

.hide {
  display: none;
}

#location::placeholder {
  color: #ddeefc;
  font-weight: 700;
}

#location {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  text-align: left;
  outline: none;
  width: 30rem;
  font-weight: 700;
}

#magnifying,
#xmark {
  font-size: 2rem;
  cursor: pointer;
}

#unit {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: unset;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: 700;
}

#unit:hover {
  outline: 2px solid var(--light);
}

/* main section */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light);
}

main {
  gap: 4rem;
}

#city {
  font-size: 4rem;
}

#date {
  font-size: 2rem;
  color: var(--light-faded);
}

#currentConditions {
  gap: 7.5rem;
  align-items: center;
}

/* Conditions left side*/
#temperature-section {
  gap: 1.5rem;
  align-items: center;
}

#temperature-logo,
#temperature,
#scale {
  font-size: var(--large-text);
  font-weight: bold;
}

#temperature-logo img {
  width: 5rem;
  height: 5rem;
}

#condition {
  font-size: var(--small-text);
}
#feelsLike,
#description,
.row-item .title {
  font-size: 1.8rem;
  color: var(--light-faded);
}

/* conditions right side */
#conditions {
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.row {
  margin-right: auto;
}

.row-item {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.row-item .title + section {
  color: var(--light);
  font-weight: bold;
  font-size: var(--small-text);
}

#windDirection {
  align-items: center;
  gap: 1rem;
}

/* Weekly forecast */
#weeklyForecast {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#weeklyForecast > p {
  font-size: 3rem;
  font-weight: bold;
}

#weeklyData {
  gap: 5rem;
  font-size: 1.8rem;
}

.day-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.day-data p:nth-child(2) {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* footer */
footer {
  display: flex;
  font-size: 1.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  align-self: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--light);
}

footer span {
  cursor: pointer;
}

img.weekly-icons {
  height: 3.5rem;
  width: 3.55rem;
}

.hide {
  display: none;
}

/* loader */
.loader {
  border: 16px solid #f0f8fe;
  border-radius: 50%;
  border-top: 16px solid #6bb8ef;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* error */
.error {
  margin: 0 auto;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 2rem;
  padding: 1rem 3rem;
}
